/* Provide sufficient contrast against white background */
body {
    background-color: #343a40;
}

a {
  color: white;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
